@{
  Layout = "_Layout";
}
    <div class="container well">
      <h1>Scrabble Score</h1>
      <div class="row">
        <form class="form" action="/" method="post">
          <input type="text" name="Word" class="col-md-6" id="player-one" placeholder="Enter a Scrabble(tm) Word">
          <!-- <input type="text" name="PlayerTwo" class="col-xs-3" id="player-two" placeholder="Player Two's Choice"> -->
          <button type="submit" class="col-md-3 btn btn-success" name="button">PLAY!</button>
        </form>
      </div>
      <div class="row">
        @if(@Model["msg"].Length > 0)
        {
          <h3>@Model["msg"]</h3>
        }
      </div>
    </div>
    <div class="container" id="results">
      @if(@Model["msg"].Length > 0)
      {
        <h3>@Model["msg"]</h3>
      }
      <!-- <h3>@Model["msg"]</h3> -->
      <!-- <h2>RESULTS OF THE GAME</h2>
    </div> -->
