@{
  Layout = "_Layout";
}
    <div class="container well">
      <h1>Rock Paper Scissors</h1>
      <div class="row">
        <form class="form" action="/" method="post">
          <input type="text" name="Player Two" class="col-xs-2" id="player-one" placeholder="Enter Player One's Choice">
          <input type="text" name="Player Two" class="col-xs-2" id="player-two" placeholder="Enter Player Two's Choice">
          <button type="submit" class="btn btn-info" name="button">PLAY!</button>
        </form>
      </div>
      <div class="row">
        @if(@Model["msg"].Length > 0)
        {
          <h3>@Model["msg"]</h3>
        }
        <h3>@Model["msg"]</h3>
      </div>
    </div>
